<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Duty Scheduler SITE VIT</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}" />
</head>

<body>

<div id="page">

	<div id="header">
		<div id="logo">
			<h1>Duty Scheduler SITE VIT</h1>

		</div>
	</div>
	<img src="{{url_for('static',filename='images/sjt.jpg')}}" alt="School Image" />
	<div id="body">
		
		<div id="sidebar">
			
			
			<div class="sidebar_head">
                  <h2>Menu</h2>
            </div>
			<ul>
				<li><a href="/">Home</a></li>
				<!--<li><a href="duties.html">Duty Division</a></li>-->
				<li><a href="/contact"><b>Contact Supervisor<b></a></li>
				
			
			</ul>

			
			
			
			
		</div>
	
			<div class="post">
			<h2>Supervisor:</h2>
			<h3><b>Ms Ranichandra C</b></h3><hr>
			Assistant Prof. SG SITE<br>
			Email:ranichandra.c@vit.ac.in
			
			</div>
	
			<div class="post">
			<h2></h2>
			<hr>
			    
			</div>

	
	</div>



</div>

<div id="footer">
	<p>Copyright &copy SITE-VIT| All Rights Will Be Reserved. <br/></p>
</div>

</body>
</html>
